<div>
{% if results %}
    <div>
    {% for key, result in results.items %}
    <p>注文日時：{{ result.0.order.ordered_at|date:"Y/m/d H:i:s" }}</p>
    <p>決済方法：{{ result.0.order.payment }}</p>
    <table border="1">
        <tr>
            <th>連番</th>
            <th>商品名</th>
            <th>商品画像</th>
            <th>単価</th>
            <th>数量</th>
        </tr>
        {% for product in result %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.product.product.name }}</td>
                <td><img src="../../media/{{ product.product.image }}" alt="" width="200" height="200" border="0"></td>
                <td>{{ product.price }}</td>
                <td>{{ product.count }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
    <hr>
    {% endfor %}


{% else %}
    <h1>購入履歴がありません</h1>
{% endif %}
<div>
